[user]
	email = jeremy_ma@outlook.com
	name = jeremy-ma
[color]
	ui = true
[push]
	default = simple
[alias]
	ci = commit
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
